* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Slab", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    font-size: x-large;
}
header {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game {
    /* display: flex; */
    /* flex-wrap: wrap; */
    text-align: center;
    position: relative;
    perspective: 1000px;
    margin: 0 auto;
}
.box {
    border: 1px solid black;
    width: 250px;
    height: 170px;
    margin: 30px;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in;
}

.rotate {
    transform: rotateY(-180deg);
    background: white;
}

.matched {
    pointer-events: none;
}
#score-display {
    margin: 10px;
    display: flex;
    width: auto;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
}
#score-display > * {
    padding-right: 20px;
}
.primary-btn {
    border-radius: 5px;
    margin-top: 10px;
    height: 45px;
    width: 30%;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    font-size: large;
}
.primary-btn:hover {
    background: #3b5763;
    border: 2px solid black;
}
#exit-btn {
    display: none;
}
#restart-btn {
    display: none;
}
.end-score-display {
    margin: 30px;
    transition: transform 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.end-score-active {
    transform: scale(1.5);
    visibility: visible;
    opacity: 1;
}

input {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30%;
    border: 1px solid transparent;
    font-size: x-large;
}
input:focus {
    border: 1px solid darkblue;
}
#select-container {
    text-align: center;
    width: 31%;
    margin: 10px;
    font-size: larger;
}
select {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    font-size: large;
}
select:focus {
    border: 1px solid darkblue;
}
#live-score {
    display: none;
}
#error-message {
    color: red;
    padding: 2px;
}
